<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://aikirapocr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2ad1fe73-3bd3-4769-8f1d-987c43c755e4/resourcegroups/AiKiraPOC/providers/Microsoft.Web/sites/AikiraPOCR</ResourceId>
    <UserName>$AikiraPOCR</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://aikirapocr.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>